#app {
  cursor: url('../img/cursor-png-1104-Windows.ico'), default;
}

.page-wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
  min-width: 300px;
  z-index: 9;
  overflow: hidden;
}

.general {
  width: 100%;
  background-color: #000;
  background-size: contain;
  margin-top: -80px;
  height: 100vh;
  overflow: hidden;
}

@media only screen and (min-width:1100px) {
  .homeDescH2 {
    margin-top: -5%;
  }

  nav ul li a:hover {
    color: rgb(3, 0, 0);
    background: #fff;
    text-decoration: none;
    /* box-shadow: 0 0 3px #ff96ad, 0 0 15px #ff96ad; */
  }

  /*
    ul li a:focus {
    justify-content: space-between;
    font-size: 18px;
    font-weight: 500;
    color: black;
    text-decoration: none;
    background-color: #15bb62;
   box-shadow: 0 0 3px #15bb629d, 0 2 12px #15bb629d ; 
    ;
    transition: all 0.2s ease-in-out;
  }
*/
  .homeStart {
    position: absolute;
    margin-top: 11%;
    right: 0;
    margin-right: 10%;
    /* animation-name: homeAnime;
  animation-duration: 9s; */
    /* animation-delay: 3s;  */
    /* animation-iteration-count: infinite; */
    width: 700px;
    opacity: 1;
  }

  .wp-icon {
    width: 60px;
    animation-name: homeAnime;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    opacity: 0;

  }
}

@keyframes homeAnime {
  from {
    /* margin-right: 10%;
    margin-top: 12%; */
    /* transform: rotate(0deg); */
    opacity: 0;
    transition: 0s;
  }

  to {
    transition: 3s;
    opacity: 1;
    /* margin-right: 10%;
    margin-top: 8%; */
    /* transform: rotate(25deg);
    transform: rotate(21deg); */
  }
}

@media only screen and (min-device-width : 920px) and (max-device-width : 1100px) {

  .homeStart {
    position: absolute;
    margin-top: 20%;
    margin-left: 50%;
    width: 500px;
  }

  .wp-icon {
    width: 70px;
    animation-name: homeAnime;
    animation-duration: 5s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    opacity: 0;

  }

  nav ul li a:hover {
    font-family: "Poppins",
      sans-serif;
    font-size: 17px;
    font-weight: 400;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.2s ease-in-out;
    color: rgb(3, 0, 0);
    text-decoration: none;
    box-shadow: 0 0 3px #ff96ad, 0 0 15px #ff96ad;
  }
}

@media only screen and (min-device-width : 750px) and (max-device-width : 920px) {
  .homeStart {
    position: absolute;
    margin-top: 55%;
    width: 400px;
  }

  .wp-icon {
    width: 50px;
    animation-name: homeAnime;
    animation-duration: 5s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    opacity: 0;
    margin-top: 35%;

  }
}

@media only screen and (min-device-width : 590px) and (max-device-width : 750px) {
  .homeStart {
    position: absolute;
    margin-top: 60%;
    width: 300px;
  }

  .wp-icon {
    width: 50px;
    animation-name: homeAnime;
    animation-duration: 5s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    opacity: 0;
    margin-top: 35%;


  }
}

@media only screen and (min-device-width : 460px) and (max-device-width : 590px) {
  .homeStart {
    position: absolute;
    margin-top: 70%;
    width: 300px;
  }

  .wp-icon {
    width: 50px;
    animation-name: homeAnime;
    animation-duration: 5s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    opacity: 0;
    margin-top: 50%;


  }

  .homeDescH2 {
    font-size: 16px;
  }

  .footerSecondA {
    display: none;
  }
}

@media only screen and (min-device-width : 340px) and (max-device-width : 460px) {
  .footerSecondA {
    display: none;
  }

  .homeStart {
    position: absolute;
    margin-top: 105%;
    width: 260px;
    margin-left: 20%;

  }

  .wp-icon {
    width: 50px;
    animation-name: homeAnime;
    animation-duration: 5s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    opacity: 0;
    margin-top: 28%;


  }

  .homeDesc {
    padding-top: 70px;
  }

}

@import url(https://fonts.googleapis.com/css?family=Exo+2:200i);
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

:root {
  /* Base font size */
  /* font-size: 10px;    */

  /* Set neon color */
  /* --neon-text-color: #f40; */
  --neon-border-color: #08f;
}

.homeDesc {
  margin-top: 28%;
}

.homeDescH2 {
  font-family: 'Indie Flower', cursive;
  font-size: 22px;
  font-weight: 200;
  color: #fff;
  padding: 2rem 2rem 2rem;
  border: 0.2rem solid #fff;
  border-radius: 1rem;
  animation: flicker 1.5s infinite alternate;
  width: fit-content;
  text-align: center;
}

.homeDescH2::-moz-selection {
  /* background-color: var(--neon-border-color); */
  color: var(--neon-text-color);
}

.homeDescH2::selection {
  /* background-color: var(--neon-border-color); */
  color: var(--neon-text-color);
}

.homeDescH2:focus {
  outline: none;
}

/* Animate neon flicker */
@keyframes flicker {

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {

    text-shadow:
      -0.2rem -0.2rem 1rem #fff,
      0.2rem 0.2rem 1rem #fff,
      0 0 2rem var(--neon-text-color),
      0 0 4rem var(--neon-text-color),
      0 0 6rem var(--neon-text-color),
      0 0 8rem var(--neon-text-color),
      0 0 10rem var(--neon-text-color);

    box-shadow:
      0 0 .5rem #fff,
      inset 0 0 .5rem #fff,
      0 0 2rem var(--neon-border-color),
      inset 0 0 2rem var(--neon-border-color),
      0 0 4rem var(--neon-border-color),
      inset 0 0 4rem var(--neon-border-color);
  }

  20%,
  24%,
  55% {
    text-shadow: none;
    box-shadow: none;
  }
}

.social-links {
  margin-top: 60px;
  display: flex;
}

.social-links a {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(39, 3, 3, 0.1);
  color: #fff;
  line-height: 1;
  margin-right: 8px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  /* box-shadow: rgba(187, 14, 1, 0.747) 0px 2px 3px 0px, rgba(221, 87, 9, 0.15) 0px 2px 6px 2px; */

}

.social-links a:first-child {
  background: blue;
  color: #fff;
  transition: all ease-in-out 0.3s;
}

.social-links a:nth-child(2) {
  background: rgb(177, 6, 168);
  color: #fff;
  transition: all ease-in-out 0.3s;
}

.social-links a:nth-child(3) {
  background: rgb(226, 150, 36);
  color: #fff;
  transition: all ease-in-out 0.3s;
}

.social-links a:nth-child(4) {
  background: rgb(173, 2, 2);
  color: #fff;
  transition: all ease-in-out 0.3s;
}

.social-links a:first-child:hover,
.social-links a:nth-child(2):hover,
.social-links a:nth-child(3):hover,
.social-links a:nth-child(4):hover {
  background: #18d26e;
  color: #f2f2f2;
  box-shadow: 0 0 4px #15bb62, 0 0 18px #15bb62;
  transition: all ease-in-out 0.3s;
}

/* Contact section */

.contact .info-box {
  color: #000;
  padding: 20px;
  width: 100%;
  /* border-top-left-radius: 16px;
  border-bottom-right-radius: 16px; */
  border-radius: 16px;
  background: rgba(241, 206, 206, 0.158);
}

.contact .info-box:hover {
  box-shadow: rgba(187, 14, 1, 0.747) 0px 2px 3px 0px, rgba(221, 87, 9, 0.15) 0px 2px 6px 2px;
}

.contact .info-box i.bx {
  font-size: 24px;
  color: #000;
  border-radius: 50%;
  padding: 14px;
  float: left;
  background: #b8d610;
  /* box-shadow: 0 0 3px #b8d610, 0 0 18px #b8d610;
  border: #000 solid 1px; */

}

.contact .info-box h3 {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 700;
  margin: 10px 0 8px 68px;
}

.contact .info-box p {
  padding: 0;
  color: #000;
  line-height: 24px;
  font-size: 14px;
  margin: 0 0 0 68px;
}

.contact .info-box .social-links-contact {
  margin: 5px 0 0 68px;
  display: flex;
}

.contact .info-box .social-links-contact a {
  font-size: 18px;
  display: inline-block;
  color: #000;
  line-height: 1;
  margin-right: 12px;
  transition: 0.3s;
}

.contact .info-box .social-links-contact a:hover {
  color: #18d26e;
}

.contact .php-email-form {
  padding: 30px;
  /* background: rgba(241, 206, 206, 0.158); */
  background-color: #85FFBD;
  background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
  border-radius: 12px;
}

.contact .php-email-form .error-message {
  display: none;
  background: rgba(255, 255, 255, 0.466);
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  background: rgba(255, 255, 255, 0.08);
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: rgba(255, 255, 255, 0.08);
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #000;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  background: transparent;
  border: 1px solid #4438018a;
  border-radius: 4px;
  transition: 0.3s;
  color: #000;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  background-color: rgba(245, 187, 187, 0.062);
}

.contact .php-email-form input::-webkit-input-placeholder,
.contact .php-email-form textarea::-webkit-input-placeholder {
  color: rgba(20, 2, 2, 0.3);
  opacity: 1;
}

.contact .php-email-form input::-moz-placeholder,
.contact .php-email-form textarea::-moz-placeholder {
  color: rgba(14, 1, 1, 0.3);
  opacity: 1;
}

.contact .php-email-form input::placeholder,
.contact .php-email-form textarea::placeholder {
  color: rgba(34, 5, 5, 0.3);
  opacity: 1;
}

.contact .php-email-form input {
  padding: 10px 15px;
}

.contact .php-email-form textarea {
  padding: 12px 15px;
}

.contact .php-email-form button[type="submit"] {
  background: #18d26e;
  border: 0;
  padding: 10px 30px;
  color: #000;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #15bb62;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* contact section end */

.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 15px auto;
  list-style: none;
  text-align: center;
  border-radius: 50px;
  padding: 2px 15px;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 16px 10px 16px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
  margin: 0 3px 10px 3px;
  transition: all 0.3s ease-in-out;
  border-radius: 4px;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  background: #18d26e;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio .portfolio-wrap .portfolio-info::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 35px;
  left: 35px;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.portfolio .portfolio-wrap .portfolio-links {
  text-align: center;
  z-index: 4;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: #fff;
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  color: #63eda3;
}

.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info::before {
  top: 15px;
  left: 15px;
}

.portfolio .portfolio-wrap:hover .portfolio-info::after {
  bottom: 15px;
  right: 15px;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 40px;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
}

.portfolio-details .container {
  padding-top: 20px;
  padding-bottom: 40px;
}

.portfolio-details .portfolio-title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-wrap {
  height: 300px;
  background-position: center;
  background-size: contain;
}

.portfolio-details .portfolio-info {
  padding-top: 45px;
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li+li {
  margin-top: 10px;
}

.portfolio-details .portfolio-info p {
  font-size: 15px;
  padding: 15px 0 0 0;
}

@media (max-width: 992px) {
  .portfolio-details .portfolio-info {
    padding-top: 20px;
  }
}

.portfolio-details .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.portfolio-details .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.3);
}

.portfolio-details .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #18d26e;
}

/* portfalio details end */

/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/
.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgb(128, 46, 46);
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid rgba(20, 1, 1, 0.2);
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #18d26e;
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 16px;
  background: rgba(32, 3, 3, 0.15);
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #18d26e;
  border: 2px solid #18d26e;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  text-align: center;
  background: rgba(204, 204, 204, 0.1);
  padding: 80px 20px;
  transition: all ease-in-out 0.3s;
}

.services .icon-box .icon {
  margin: 0 auto;
  width: 64px;
  height: 64px;
  background: #18d26e;
  border-radius: 5px;
  transition: all .3s ease-out 0s;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transform-style: preserve-3d;
}

.services .icon-box .icon i {
  color: #fff;
  font-size: 28px;
}

.services .icon-box .icon::before {
  position: absolute;
  content: '';
  left: -8px;
  top: -8px;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 5px;
  transition: all .3s ease-out 0s;
  transform: translateZ(-1px);
}

.services .icon-box h4 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
}

.services .icon-box h4 a {
  color: #fff;
}

.services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.services .icon-box:hover {
  background: #18d26e;
  border-color: #18d26e;
}

.services .icon-box:hover .icon {
  background: #fff;
}

.services .icon-box:hover .icon i {
  color: #18d26e;
}

.services .icon-box:hover .icon::before {
  background: #35e888;
}

.services .icon-box:hover h4 a,
.services .icon-box:hover p {
  color: #fff;
}

/*--------------------------------------------------------------
# services end
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/


.about .aboutContent h3 {
  font-weight: 700;
  font-size: 26px;
  color: #0e9e51;
}

.section-title p {
  margin: 0;
  margin: -15px 0 15px 0;
  font-size: 36px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #111;
}

.about h2::after,
.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #15bb62;
  margin: 4px 10px;
}

.about .aboutContent ul {
  list-style: none;
  padding: 0;
}

.about .aboutContent ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  list-style: none;
}

.about .aboutContent ul strong {
  margin-right: 10px;
}

.about .aboutContent ul i {
  font-size: 16px;
  margin-right: 5px;
  color: #15bb62;
  line-height: 0;
}

.about .aboutContent p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
/* .counts {
  padding: 70px 0 60px;
}

.counts .count-box {
  padding: 30px 30px 25px 30px;
  width: 100%;
  position: relative;
  text-align: center;
  background: rgba(255, 255, 255, 0.08);
}

.counts .count-box i {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  background: rgba(255, 255, 255, 0.1);
  padding: 12px;
  color: #18d26e;
  border-radius: 50px;
  line-height: 0;
}

.counts .count-box span {
  font-size: 36px;
  display: block;
  font-weight: 600;
  color: #fff;
}

.counts .count-box p {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
} */

/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/
.skills .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}

.skills .progress .skill {
  padding: 10px 0;
  margin: 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: rgb(3, 1, 1);
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: rgba(24, 3, 3, 0.2);
  border-radius: 8px;
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: .9s;
  background-color: #15bb62;
  border-radius: 8px;
}

/*--------------------------------------------------------------
# Interests
--------------------------------------------------------------*/
.interests .icon-box {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: rgba(72, 5, 116, 0.925);
  transition: ease-in-out 0.3s;
  border-radius: 4px;
}

.interests .icon-box i {
  font-size: 32px;
  padding-right: 10px;
  line-height: 1;
}

.interests .icon-box h3 {
  font-weight: 700;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 16px;
  color: #fff;
}

.interests .icon-box:hover {
  box-shadow: rgba(43, 4, 1, 0.747) 0px 4px 3px 0px, rgba(46, 19, 4, 0.596) 0px 4px 6px 2px;
}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
/* .testimonials .testimonial-item {
  box-sizing: content-box;
  min-height: 320px;
}

.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 50%;
  margin: -40px 0 0 40px;
  position: relative;
  z-index: 2;
  border: 6px solid rgba(255, 255, 255, 0.12);
}

.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 45px;
  color: #fff;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0 0 0 45px;
}

.testimonials .testimonial-item .quote-icon-left, .testimonials .testimonial-item .quote-icon-right {
  color: rgba(255, 255, 255, 0.25);
  font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 15px 0 15px;
  padding: 20px 20px 60px 20px;
  background: rgba(255, 255, 255, 0.1);
  position: relative;
  border-radius: 6px;
  position: relative;
  z-index: 1;
}

.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.3);
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #18d26e;
}

--------------------------------------------------------------
# about end
--------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

nav {
  display: flex;
  height: 80px;
  width: 100%;
  background: #000;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
  box-shadow: rgba(187, 14, 1, 0.747) 0px 2px 3px 0px, rgba(221, 87, 9, 0.15) 0px 2px 6px 2px;
}

nav .logo .logoH1 {
  color: #fff;
  font-size: 26px;
  font-weight: 600;
  text-decoration: none;
  margin-left: 40px;
  /* border-radius: 50%; */
  margin-top: 2%;
  /* border-bottom: #fff solid 1px; */
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 1.2%;
}

nav ul li {
  margin: 0 5px;
}

nav ul li {
  color: #f2f2f2;
  border-radius: 5px;
}

nav ul li a {
  font-family: "Poppins", sans-serif;
  color: #f2f2f2;
  text-decoration: none;
  font-size: 17px;
  font-weight: 400;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.2s ease-in-out;
}

nav .menu-btn i {
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}

input[type="checkbox"] {
  display: none;
}

@media (max-width: 1000px) {
  nav {
    padding: 0 40px 0 50px;
  }
}

@media (max-width: 920px) {
  nav .menu-btn i {
    display: block;
    margin-right: -20px;
    margin-top: 12px;
  }

  #click:checked~.menu-btn i:before {
    color: #fff;
    content: "\00d7";
    position: absolute;
    z-index: 999;
    font-size: 3em;
    color: #fff;
    top: 60px;
    right: 20px;
    transform: rotate(8deg);
  }

  nav ul {
    position: fixed;
    top: 78px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
    z-index: 9;
  }

  #click:checked~ul {
    left: 0;
    opacity: 0.9;
    border-radius: 12px;
    padding-left: 0px !important;
  }

  nav ul li {
    width: 100%;
    margin: 15px 0;
  }

  nav ul li a {
    width: 100%;
    margin-left: -100%;
    display: block;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  #click:checked~ul li a {
    margin-left: 0px;
  }

  nav ul li a.active,
  nav ul li a:hover {
    background: none;
    color: cyan;
    text-decoration: none;
  }
}

nav ul li .active {
  justify-content: space-between;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  color: black;
  text-decoration: none;
  background-color: #b8d610;
  /* box-shadow: 0 0 3px #ff96ad, 0 0 15px #ff96ad ; */
  transition: all 0.2s ease-in-out;
}

/* BLOG SECTION START */
#blogImage {
  height: 250px;
  object-fit: cover;
}

.homeBlogIcon {
  height: 60px;
}

.homeBlogTitle {
  text-decoration: none;
  font-size: 22px;
  color: #1a3a04;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px rgb(255, 0, 212),
    0 0 82px rgb(255, 0, 212),
    0 0 92px rgb(255, 0, 212),
    0 0 102px rgb(255, 0, 212),
    0 0 151px rgb(255, 0, 212);
}

.homeBlogTitle:hover {
  text-decoration: none;
  color: rgb(101, 7, 138);
}

.footer {
  background: transparent;
  width: 100%;
  height: 40px;
  background-color: #000;
  display: flex;
  bottom: 0;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
  z-index: 9;
}

.footer a {
  color: #15bb62;
}

.footer a:hover {
  color: #15bb62;
  text-decoration: none;
}

.scroll {
  display: block;
}

.box {
  width: 400px;
  height: 250px;
  background: #3084AC;
  margin: auto;
  border: 2px solid #256584;
  text-align: center;
  color: #fff;
  position: relative;
  top: 50px;
  cursor: pointer;
  transition: 500ms ease;
}

.box:before {
  position: absolute;
  width: 0;
  height: 2px;
  content: "";
  background: #fff;
  top: -2px;
  left: -2px;
  transition: 100ms width ease 300ms;
  -web-kit-transition: 100ms width ease 300ms;
}

.box:after {
  position: absolute;
  width: 2px;
  height: 0;
  content: "";
  background: #fff;
  top: -2px;
  right: -2px;
  transition: 100ms height ease 200ms;
  -web-kit-transition: 100ms height ease 200ms;
}

.box-inner:after {
  position: absolute;
  width: 0;
  height: 2px;
  content: "";
  background: #fff;
  bottom: -2px;
  right: -2px;
  transition: 100ms width ease 100ms;
  -web-kit-transition: 100ms width ease 100ms;
}

.box-inner:before {
  position: absolute;
  width: 2px;
  height: 0;
  content: "";
  background: #fff;
  bottom: -2px;
  left: -2px;
  transition: 100ms height ease 0ms;
  -web-kit-transition: 100ms height ease 0ms;
}

.box:hover {
  border-color: transparent;
  background: #0f2834;
}

.box:hover:before {
  width: 402px;
  transition: 100ms width ease 0ms;
  -web-kit-transition: 100ms width ease 0ms;
}

.box:hover:after {
  height: 252px;
  transition: 100ms height ease 100ms;
  -web-kit-transition: 100ms height ease 100ms;
}

.box:hover .box-inner:after {
  width: 402px;
  transition: 100ms width ease 200ms;
  -web-kit-transition: 100ms width ease 200ms;
}

.box:hover .box-inner:before {
  height: 252px;
  transition: 100ms height ease 300ms;
  -web-kit-transition: 100ms height ease 300ms;
}

/* THIS SECTION ONLY FOR LOGIN PAGE*/
.loginForm {
  display: flex;
  width: min-content;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8%;
  margin-bottom: 12%;
  background-color: #85FFBD;
  background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
  border-radius: 8px;
}

.loginForm .login input {
  border-radius: 12px;
  width: 300px;
  height: 40px;
  line-height: 2rem;
  background: transparent;

}

/*THIS IS THE BORDER ANIMATION SECTION*/